In [14]:
pip install pgcli

Requirement already satisfied: pgcli in c:\users\hp\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: click>=4.1 in c:\users\hp\anaconda3\lib\site-packages (from pgcli) (8.0.4)
Requirement already satisfied: configobj>=5.0.6 in c:\users\hp\anaconda3\lib\site-packages (from pgcli) (5.0.9)
Requirement already satisfied: sqlparse<0.6,>=0.3.0 in c:\users\hp\anaconda3\lib\site-packages (from pgcli) (0.4.3)
Requirement already satisfied: Pygments>=2.0 in c:\users\hp\anaconda3\lib\site-packages (from pgcli) (2.11.2)
Requirement already satisfied: prompt-toolkit<4.0.0,>=2.0.6 in c:\users\hp\anaconda3\lib\site-packages (from pgcli) (3.0.20)
Requirement already satisfied: pgspecial>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from pgcli) (2.1.3)
Requirement already satisfied: psycopg-binary>=3.0.14 in c:\users\hp\anaconda3\lib\site-packages (from pgcli) (3.2.3)
Requirement already satisfied: cli-helpers[styles]>=2.2.1 in c:\users\hp\anaconda3\lib\site-packages (from pgcli) (2.3.1)
Requirement already satisfied: setproctitle>=1.1.9 in c:\users\hp\anaconda3\lib\site-packages (from pgcli) (1.3.4)
Requirement already satisfied: tabulate[widechars]>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from cli-helpers[styles]>=2.2.1->pgcli) (0.9.0)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click>=4.1->pgcli) (0.4.4)
Requirement already satisfied: psycopg>=3.0.10 in c:\users\hp\anaconda3\lib\site-packages (from pgspecial>=2.0.0->pgcli) (3.2.3)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\lib\site-packages (from prompt-toolkit<4.0.0,>=2.0.6->pgcli) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6 in c:\users\hp\anaconda3\lib\site-packages (from psycopg>=3.0.10->pgspecial>=2.0.0->pgcli) (4.12.2)
Requirement already satisfied: tzdata in c:\users\hp\anaconda3\lib\site-packages (from psycopg>=3.0.10->pgspecial>=2.0.0->pgcli) (2024.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import subprocess

command = [
    "pgcli",
    "-h", "localhost",
    "-p", "5432",
    "-u", "root",
    "-d", "ny_taxi"
]
subprocess.run(command)

In [2]:
#how to write dataFrame on postgres
from sqlalchemy import create_engine, text

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
from sqlalchemy import text

create_table_query = """
CREATE TABLE yellow_taxi (
    "VendorID" BIGINT,
    "tpep_pickup_datetime" TEXT,
    "tpep_dropoff_datetime" TEXT,
    "passenger_count" BIGINT,
    "trip_distance" FLOAT,
    "RatecodeID" BIGINT,
    "store_and_fwd_flag" TEXT,
    "PULocationID" BIGINT,
    "DOLocationID" BIGINT,
    "payment_type" BIGINT,
    "fare_amount" FLOAT,
    "extra" FLOAT,
    "mta_tax" FLOAT,
    "tip_amount" FLOAT,
    "tolls_amount" FLOAT,
    "improvement_surcharge" FLOAT,
    "total_amount" FLOAT,
    "congestion_surcharge" FLOAT
);
"""

with engine.connect() as connection:
    connection.execute(text(create_table_query))
    print("Table 'yellow_taxi' created successfully.")

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "yellow_taxi" already exists

[SQL:
CREATE TABLE yellow_taxi (
    "VendorID" BIGINT,
    "tpep_pickup_datetime" TEXT,
    "tpep_dropoff_datetime" TEXT,
    "passenger_count" BIGINT,
    "trip_distance" FLOAT,
    "RatecodeID" BIGINT,
    "store_and_fwd_flag" TEXT,
    "PULocationID" BIGINT,
    "DOLocationID" BIGINT,
    "payment_type" BIGINT,
    "fare_amount" FLOAT,
    "extra" FLOAT,
    "mta_tax" FLOAT,
    "tip_amount" FLOAT,
    "tolls_amount" FLOAT,
    "improvement_surcharge" FLOAT,
    "total_amount" FLOAT,
    "congestion_surcharge" FLOAT
);
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [7]:
#import packages
import pandas as pd

#load dataset
df=pd.read_csv(r'C:\Users\HP\Documents\Learning\Data Engineering Zoomcamp\yellow_tripdata_2021-01.csv')

df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_12816\3686881529.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r'C:\Users\HP\Documents\Learning\Data Engineering Zoomcamp\yellow_tripdata_2021-01.csv')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [8]:
#create table

df.head(0).to_sql('yellow_taxi', engine, if_exists='replace', index=False)

0

In [9]:
#insert data

df.to_sql('yellow_taxi', engine, if_exists='append', index=False)

765

In [10]:
#import packages
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [7]:
import pandas as pd

# Load the CSV file
df=pd.read_csv(r'C:\Users\HP\Documents\Learning\Data Engineering Zoomcamp\yellow_tripdata_2021-01.csv')

# Display the first few rows of the dataset
print(df.head())

# Check the schema (columns and their data types)
print(df.dtypes)

C:\Users\HP\AppData\Local\Temp\ipykernel_14604\3249049621.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r'C:\Users\HP\Documents\Learning\Data Engineering Zoomcamp\yellow_tripdata_2021-01.csv')

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0       1.0  2021-01-01 00:30:10   2021-01-01 00:36:12              1.0
1       1.0  2021-01-01 00:51:20   2021-01-01 00:52:19              1.0
2       1.0  2021-01-01 00:43:30   2021-01-01 01:11:06              1.0
3       1.0  2021-01-01 00:15:48   2021-01-01 00:31:01              0.0
4       2.0  2021-01-01 00:31:49   2021-01-01 00:48:21              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.10         1.0                  N           142            43
1           0.20         1.0                  N           238           151
2          14.70         1.0                  N           132           165
3          10.60         1.0                  N           138           132
4           4.94         1.0                  N            68            33

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0           2.0          8.0    3.0      0.5        0.00           0.0
1           2.0          3.0    0.5      0.5        0.00           0.0
2           1.0         42.0    0.5      0.5        8.65           0.0
3           1.0         29.0    0.5      0.5        6.05           0.0
4           1.0         16.5    0.5      0.5        4.06           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         11.80                   2.5
1                    0.3          4.30                   0.0
2                    0.3         51.95                   0.0
3                    0.3         36.35                   0.0
4                    0.3         24.36                   2.5
VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369765 entries, 0 to 1369764
Data columns (total 18 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1271413 non-null  float64
 1   tpep_pickup_datetime   1369765 non-null  object
 2   tpep_dropoff_datetime  1369765 non-null  object
 3   passenger_count        1271413 non-null  float64
 4   trip_distance          1369765 non-null  float64
 5   RatecodeID             1271413 non-null  float64
 6   store_and_fwd_flag     1271413 non-null  object
 7   PULocationID           1369765 non-null  int64
 8   DOLocationID           1369765 non-null  int64
 9   payment_type           1271413 non-null  float64
 10  fare_amount            1369765 non-null  float64
 11  extra                  1369765 non-null  float64
 12  mta_tax                1369765 non-null  float64
 13  tip_amount             1369765 non-null  float64
 14  tolls_amount           1369765 non-null  float64
 15  improvement_surcharge  1369765 non-null  float64
 16  total_amount           1369765 non-null  float64
 17  congestion_surcharge   1369765 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 188.1+ MB

In [ ]:
# Create an open SQL database connection object or a SQLAlchemy connectable
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [8]:
# Generate CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

##Inserting data

In [10]:

# Creating batches of 100,000 for the paraquet file
batches_iter = df.iter_batches(batch_size=100000)
batches_iter

# Take the first batch for testing
df = next(batches_iter).to_pandas()
df

AttributeError: 'DataFrame' object has no attribute 'iter_batches'